@model IEnumerable<BoardGameLogger.Core.ViewModels.BoardGameLoanInfoViewModel>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Borrower Name</th>
                <th>Date borrowed</th>
                <th>Actions</th> @* New Column *@
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan.BorrowerName</td>
                    <td>@loan.LoanDate.ToString("g")</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-success"
                                data-bs-toggle="modal" data-bs-target="#returnModal-@loan.Id">
                            Mark Returned
                        </button>

                        <partial name="_ReturnConfirmationPartial" model="loan" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>